/*Import font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/*Color variables*/
:root{
    --primary-color: white;
    --secondary-color: black;
    --neutral: rgb(36, 36, 36);
    --neutral2: rgb(61, 61, 61);
    --neutral-light: rgb(180, 180, 180);
    --neutral-light2: rgb(220, 220, 220);
    --link-active: rgba(255, 255, 255, 0.2);    
}

html {
  scroll-behavior: smooth;
}

/*Global styles*/
body{
    background-color: var(--primary-color);
    height: 100%;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

/* Contenedor general */
body {
  scrollbar-width: thin; /* Para Firefox */
  scrollbar-color: var(--secondary-color) var(--neutral); /* Para Firefox */
}

/* Para Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--neutral);
}

::-webkit-scrollbar-thumb {
  background-color: var(--neutral-light2);
  border-radius: 10px;
}

.whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: var(--primary-color);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 99;
    border-radius: 7px;
}

.whatsapp svg{
    width: 35px;
    height: 35px;
}

span{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0 15px;
}

h1{
    font-size: clamp(2rem, 3vw, 3.75rem);
    font-weight: 900;
}

h2{
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: 800;
}

h6{
    font-size: clamp(0.75rem, 1.8vw, 0.875rem);
    font-weight: 600;
}

a{
    text-decoration: none;
    color: var(--secondary-color);
    cursor: pointer;
}

a:hover{
    cursor: pointer;
}

p{
    font-size: clamp(0.875rem, 1vw, 1rem);
    font-weight: 600 !important; 
}

button{
    width: fit-content;
    height: 40px;
    padding: 0 10px;
    font-weight: 600;
    font-size: clamp(0.8rem, 1vw, 1rem);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    min-width: 100px;
}

button:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
}

button::before {
    width: 100%;
    height: 130px;
    position: absolute;
    content: "";
    background-color: var(--primary-color);
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: difference;
}

button:hover::before {
    transition-duration: .3s;
    transform: translate(100%,-50%);
    border-radius: 0;
}

/*Header*/
.header-container{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    left: 0;
}

header{
    width: fit-content;
    min-width: 70%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header .link-cta{
    z-index: 99;
}

#header-container.scrolled {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

header svg{
    display: none;
    z-index: 99;
}

header .mobile-logo{
    display: none;
    z-index: 4;
}

header .header-logo{
    width: clamp(120px, 10vw, 160px);
}

header ul{
    display: flex;
}

header ul li{
    list-style: none;
    margin: 0 15px;
    font-weight: 500;
    cursor: pointer;
    font-size: clamp(12px, 1.5vw, 16px);
}

.link.active{
    border-bottom: 2px solid var(--secondary-color);
}

.link {
  position: relative;
  text-decoration: none;
  color: inherit;
  padding-bottom: 4px;
  transition: color 0.3s;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--secondary-color);
  transition: width 0.3s ease;
}

.link:hover::after {
  width: 100%;
}

header ul li:hover{
    cursor: pointer;
}

.link-cta{
    width: 130px;
    height: 40px;
    font-weight: 500;
    font-size: clamp(12px, 1.5vw, 16px);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
}

.link-cta:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
}

.link-cta::before {
    width: 130px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: var(--primary-color);
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: difference;
}

.link-cta:hover::before {
    transition-duration: .3s;
    transform: translate(100%,-50%);
    border-radius: 0;
}

/*************
    INICIO
**************/
/*Container*/
.container{
    width: 100vw;
    height: calc(100vh - 100px);
    margin: 0;
    padding: 0;
    min-height: 1200px
}

/*Welcome section*/
.welcome-section{
    width: 100vw;
    height: calc(fit-content - 100px);
    display: flex;
    background-image: url('img/portada.webp');
    background-size: 37% 100%;
    background-position: right top;
    background-repeat: no-repeat;
    margin-top: 100px;
    min-height: calc(100vh - 100px);
}

section .welcome-box{
    width: 45%;
    height: 100%;
    min-height: calc(100vh - 100px);
    position: relative;
    left: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section .welcome-box h6{
    margin-bottom: 20px;
    color: var(--neutral);
    font-size: clamp(0.9rem, 1vw, 1.125rem);
}

section .welcome-box .welcome-description{
    margin-top: 20px;
    width: clamp(90%, 70vw, 70%);
}

section .welcome-box .welcome-description p{
    font-weight: 500;
    color: var(--neutral);
}

section .welcome-box .welcome-button-cta-box{
    margin-top: 30px;
    margin-bottom: 230px;
}

section .welcome-box .welcome-button-cta-box button{
    font-size: clamp(0.8rem, 1vw, 1rem);
    height: 50px;
}

section .welcome-box .welcome-button-cta-box button svg{
    width: 25px;
    stroke: var(--primary-color);
    margin-left: 10px;
}

section .welcome-box .welcome-advantages{
    position: absolute;
    bottom: 0;
    width: 120%;
    min-width: 600px;
    height: auto;
    max-height: 270px;
    background-color: var(--secondary-color);
    border: 10px solid var(--primary-color);
    border-left: 0;
    display: flex;
}

section .welcome-box .welcome-advantages .scroll-text-box{
    width: 10%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .welcome-box .welcome-advantages .scroll-text-box p{
    rotate: -90deg;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral-light);    
    font-size: 0.8rem;
}

section .welcome-box .welcome-advantages .scroll-text-box p svg{
    width: 20px;
    height: 20px;
    stroke: var(--neutral-light);
    margin-right: 5px;
}

section .welcome-box .welcome-advantages .characteristic{
    width: 30%;
    height: 100%;
    max-height: 270px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
}

section .welcome-box .welcome-advantages .characteristic .characteristic-icon-box{
    width: 100%;
    height: 35%;
}

section .welcome-box .welcome-advantages .characteristic .characteristic-icon-box svg{
    width: 3rem;
    height: 100%;
    fill: var(--primary-color);
}

section .welcome-box .welcome-advantages .characteristic .characteristic-content-box{
    width: 100%;
    height: 65%;
}

section .welcome-box .welcome-advantages .characteristic .characteristic-content-box h6{
    color: var(--primary-color);
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: clamp(0.75rem, 0.7vw, 3rem);
}

section .welcome-box .welcome-advantages .characteristic .characteristic-content-box p{
    font-size: clamp(0.6rem, 0.7vw, 3rem);
    color: var(--neutral-light);
}

.presupuesto-form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: 60px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
    transition: opacity 0.3s ease, transform 0.3s ease;
    width: 500px;
    height: 90vh;
    overflow-y: scroll;
    overflow-y: scroll; /* o auto */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
}

body.no-scroll {
  overflow: hidden;
}

.presupuesto-form button{
    min-height: 40px;
}

.presupuesto-form.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.close-btn{
    position: absolute;
    top: 0;
    right: -10px;
    font-size: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--secondary-color);
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
    display: block;
    font-weight: 100;
}

.close-btn:hover{
    background-color: transparent;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.close-btn::before{
    content: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.presupuesto-form p{
    color: var(--neutral2);
}

.presupuesto-form .form-group{
    margin: 20px 0;
}

.presupuesto-form .form-group label{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 16px;
}

.presupuesto-form .form-group label input{
    padding: 10px;
    font-size: 15px;
    color: var(--neutral2);
    width: 100%;
    border: 1px solid black;
    font-weight: 500;
}

.presupuesto-form .delivered-status{
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 16px;
}

.presupuesto-form.delivered{
    position: fixed;
    padding: 40px;
    padding-top: 80px;
    min-height: 0;
    height: fit-content;
    min-width: 0;
    width: fit-content;
}

.presupuesto-form .close-btn.delivered{
    position: absolute;
    font-size: 30px;
}

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* o rgba(0, 0, 0, 0.5) para opacidad */
  z-index: 199;
  opacity: 0;
  transition: opacity 0.3s ease;
  overflow: hidden;
}

.form-overlay.show {
    opacity: 1;
}

/*Home - Services*/
.services-box {
  width: 100%;
  height: 100vh;
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.services-box .services-grid-container {
  width: 70%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  padding: 0;
}

.services-box .services-grid-container div{
    background-color: var(--neutral-light2);
    padding: 20px;
    min-height: 280px;
}

.div1 { 
    grid-area: 1 / 1 / 3 / 4;
    background-image: url('img/reforma.webp'); 
    position: relative;
    display: flex;
    align-items: end;
}

.div1::before{
    content: '';
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.div1 h3{
    color: var(--primary-color);
    z-index: 1;
    font-size: clamp(1.1rem, 4vw, 2.1rem);
}

.services-box .services-grid-container .div2 { 
    grid-area: 1 / 4 / 3 / 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary-color);
}

.services-box .services-grid-container .div2 h2{
    color: var(--primary-color);
}

.services-box .services-grid-container .div2 svg{
    width: 60px;
    height: 60px;
    fill: var(--primary-color);
}

.services-box .services-grid-container .div2 a{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.services-box .services-grid-container .div2 a svg{
    fill: var(--secondary-color);
    width: 22px;
    margin-left: 5px;
}

.div3 { 
    grid-area: 3 / 1 / 6 / 3;
    background-image: url('img/interior.webp'); 
    position: relative;
    display: flex;
    align-items: end;
}

.div3::before{
    content: '';
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.div3 h3{
    color: var(--primary-color);
    z-index: 1;
    font-size: clamp(1.1rem, 4vw, 2.1rem);
}

.div4 { 
    grid-area: 3 / 3 / 6 / 6; 
    background-image: url('img/obras.webp'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: end;
}

.div4::before{
    content: '';
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.div4 h3{
    color: var(--primary-color);
    z-index: 1;
    font-size: clamp(1.1rem, 4vw, 2.1rem);
}

.proyectos-box{
    width: 100%;
    padding: 100px 0;
    height: fit-content;
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.proyectos-box .proyectos-container{
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--primary-color);
}

.proyectos-box .proyectos-container .proyectos-title-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.proyectos-box .proyectos-container .proyectos-title-box h2{
    margin-bottom: 20px;
}

.proyectos-box .proyectos-container .proyectos-title-box p{
    width: 60%;
    color: var(--neutral-light2);
}

.proyectos-box .proyectos-container .proyectos-content-box{
    width: fit-content;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 20px;
}

.proyectos-box .proyectos-container .proyectos-content-box .proyecto-box{
    width: 20%;
    min-width: 250px;
    height: fit-content;
    background-color: var(--primary-color);
    flex-shrink: 0;
    padding: 20px;
    color: var(--secondary-color);
    position: relative;
}

.proyectos-box .proyectos-container .proyectos-content-box .proyecto-box img{
    width: 100%;
    margin-bottom: 20px
}

.proyectos-box .proyectos-container .proyectos-content-box .proyecto-box h4{
    font-size: clamp(1.1rem, 4vw, 1.2rem);
    font-weight: 800;
    margin-bottom: 10px;
}

.proyectos-box .proyectos-container .proyectos-content-box .proyecto-box p{
    color: var(--neutral2);
    font-weight: 600;
}

.proyectos-box .proyectos-container .proyectos-content-box .proyecto-box a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.proyectos-box .proyectos-container .proyectos-content-box .proyecto-box a svg{
    width: 22px;
    height: 22px;
    stroke: var(--primary-color);
    margin-left: 10px;
}

.proyectos-box .proyectos-container .proyectos-content-box .proyecto1{
    margin-left: 0;
}

.proyectos-box .proyectos-container .proyectos-cta{
    width: 100%;
    margin-top: 50px;
    display: flex;
}

.proyectos-box .proyectos-container .proyectos-cta a{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.proyectos-box .proyectos-container .proyectos-cta a svg{
    width: 22px;
    height: 22px;
    stroke: var(--secondary-color);
    margin-left: 10px;
}

.nosotros-box{
    width: 100%;
    height: fit-content;
    padding: 100px 0;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nosotros-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  height: 70%;
  color: var(--secondary-color);
}

.div-nosotros-1 {
  flex: 1 1 600px; /* base 700px, puede encoger */
  min-width: 300px;
}

.div-nosotros-1 video{
    width: 100%;
    height: 100%;
}

.div-nosotros-2 {
  flex: 1 1 500px;
  min-width: 300px;
  max-width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 500px;
}

.div-nosotros-2 h2{
    margin-bottom: 20px;
}

.div-nosotros-2 p{
    margin: 20px 0;
    font-size: clamp(0.85rem, 1vw, 1rem);
    color: var(--neutral);
}

.div-nosotros-2 p span{
    padding: 10px !important;
    margin-right: 10px !important;
    font-size: 18px !important;
    background-color: var(--secondary-color) !important;
}

.nosotros-box .nosotros-container .div-nosotros-2 .cta-box{
    display: flex;
    margin-top: auto;
    margin-top: 40px;
}

.nosotros-box .nosotros-container .div-nosotros-2 .cta-box button{
    font-size: clamp(0.8rem, 1vw, 1rem);
}

.nosotros-box .nosotros-container .div-nosotros-2 .cta-box button::before{
    width: 100%;
}

.nosotros-box .nosotros-container .div-nosotros-2 .cta-box a::before{
    width: 100%;
}

.nosotros-box .nosotros-container .div-nosotros-2 a{
    font-size: clamp(0.8rem, 1vw, 1rem);
    margin-left: 10px;
}

.nosotros-box .nosotros-container .div-nosotros-2 .cta-box a svg{
    width: clamp(1.2rem, 1vw, 2rem);
    height: clamp(1.2rem, 1vw, 2rem);
    fill: var(--primary-color);
    margin-left: 5px;
}

.contacto-box{
    width: 100%;
    height: fit-content;
    padding: 200px 0;
    background: var(--neutral);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/contacto-fondo.svg');
    background-size: cover;
    background-position: center;
    background-position: 100% 60%;
    position: relative;
}

.contacto-box::before{
    content: '';
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 80%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.contacto-box .contacto-container{
    width: 70%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--secondary-color);
}

.contacto-box .contacto-container h2{
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 40px;
}

.contacto-box .contacto-container a{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 140px;
}

.contacto-box .contacto-container a::before{
    width: 140px;
}


.contacto-box .contacto-container a svg{
    width: 22px;
    height: 22px;
    stroke: var(--secondary-color);
    margin-left: 5px;
}

footer{
    width: 100%;
    height: fit-content;
    min-height: 400px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .footer-container{
    width: 70%;
    height: fit-content;
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    margin-top: 30px;
    flex-wrap: wrap;
}

footer .footer-container div{
    width: 25%;
    height: 100%;
    padding: 40px;
    min-width: 250px;
}

footer .footer-container div h5{
    font-size: 20px;
}

footer .footer-container a{
    color: var(--neutral-light);
    font-weight: 500;
}

footer .footer-container li{
    list-style: none;
    margin: 15px 0;
}

footer .footer-container .logo-box img{
    width: 70%;
    border: 5px solid var(--primary-color);
}

footer .footer-container .social-links ul{
    display: flex;
}

footer .footer-container .social-links svg{
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: var(--primary-color);
    margin-right: 10px;
    border-radius: 5px;
}

footer .footer-container .contact-links li{
    display: flex;
    align-items: center;
}

footer .footer-container .contact-links svg{
    width: 25px;
    height: 25px;
    fill: var(--neutral-light);
    stroke: var(--neutral-light);
    margin-right: 5px;
}

footer p{
    color: var(--neutral-light);
    margin-bottom: 20px;
    text-align: center;
}

/*Home responsive mobile*/
@media screen and (max-width: 767px){
    .header-container{
        width: 100%;
        height: 90px;
        position: fixed;
    }
    
    header{
        width: 100%;
        height: 90px;
        align-items: start;
        padding-top: 20px;
        background-color: var(--primary-color);
    }

    header .link-cta{
        display: none;
    }

    .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        list-style: none;
        width: 100%;
        transform: translateY(-100%);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.4s ease, opacity 0.4s ease;
        border-top: 1px solid var(--neutral-light2);
        background-color: var(--primary-color);
        z-index: 4;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        padding-bottom: 10px;
    }

    .links.show {
    transform: translateY(70px);
    opacity: 1;
    pointer-events: all;
    }

    .link{
        color: var(--secondary-color);
        margin: 20px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        z-index: 4;
    }

    header svg{
        padding: 5px;
        display: block;
        width: 40px;
        height: 40px;
        margin-right: 20px;
        cursor: pointer;
        stroke: var(--secondary-color);
        margin-top: 5px
    }

    header .mobile-logo{
        width: 50px;
        height: 50px;
        display: block;
        margin-left: 10px;
    }

    header img{
        display: none;
    }

    header button{
        display: none;
    }

    span{
        background-color: var(--primary-color);
        color: var(--secondary-color);
        padding: 0 10px;
    }

    .presupuesto-form{
        width: 90%;
        height: 80vh;
        padding: 30px;
        max-width: 500px;
    }

    .presupuesto-form .form-group label{
        font-size: clamp(0.875rem, 1vw, 1rem);
    }

    .presupuesto-form .form-group label input{
        font-size: clamp(0.875rem, 1vw, 1rem);
    }

    .welcome-section{
        background-size: cover;
        background-position: center;
        justify-content: center;
        height: fit-content;
        padding: 40px 0;
    }

    section .welcome-box{
        left: 0;
        width: 90%;
        height: fit-content;
        color: var(--primary-color);
    }

    section .welcome-box .welcome-description{
        width: 100%;
    }

    section .welcome-box h6, section .welcome-box .welcome-description p{
        color: var(--neutral-light2);
    }

    section .welcome-box .welcome-advantages{
        position: relative;
        flex-direction: column;
        width: 20px !important;
        min-width: fit-content;
        max-height: none;
        border: 10px solid var(--primary-color);
        bottom: 20px;
    }

    section .welcome-box .welcome-button-cta-box{
        margin-bottom: 60px;
    }

    section .welcome-box .welcome-button-cta-box button{
        width: fit-content;
        height: clamp(40px, 6vh, 50px);
        background-color: var(--primary-color);
        color: var(--secondary-color);
        padding: 0 10px;
    }

    section .welcome-box .welcome-button-cta-box button svg{
        stroke: var(--secondary-color);
    }

    section .welcome-box .welcome-button-cta-box button::before{
        width: 100%;
    }

    section .welcome-box .welcome-advantages .scroll-text-box{
        width: 100%;
    }

    section .welcome-box .welcome-advantages .scroll-text-box p{
        rotate: 0deg;
        padding: 20px 0;
    }

    section .welcome-box .welcome-advantages .scroll-text-box p svg{
        rotate: -90deg;
    }

    section .welcome-box .welcome-advantages .characteristic{
        width: 100%;
    }

    section .welcome-box .welcome-advantages .characteristic .characteristic-content-box h6{
        font-size: clamp(0.875rem, 1vw, 1rem);
    }

    section .welcome-box .welcome-advantages .characteristic .characteristic-content-box p{
        font-size: clamp(0.8rem, 1vw, 1rem);
    }

    .services-box{
        height: fit-content;
    }

    .services-box .services-grid-container {
        grid-template-columns: 1fr;
        grid-auto-rows: min-content;
        grid-template-rows: none;
        height: auto;
        width: 90%;   
        }

    .services-box .services-grid-container div {
        grid-area: auto !important;
    }

    .services-box .services-grid-container .div2{
        grid-row: 1 !important;
    }

    .services-box .services-grid-container .div1{
        grid-row: 2 !important;
    }

    .proyectos-box .proyectos-container{
        width: 90%;
    }

    .proyectos-box .proyectos-container .proyectos-title-box p{
        width: 100%;
    }

    .proyectos-box .proyectos-container .proyectos-content-box{
        justify-content: center;
    }

    .proyectos-box .proyectos-container .proyectos-content-box .proyecto-box{
        min-width: 100%;
    }

    .proyectos-box .proyectos-container .proyectos-cta{
    justify-content: end;
    }

    .nosotros-container{
        width: 100%;
    }

    .div-nosotros-2{
        margin: 0 40px;
        width: 100%;
    }

    .div-nosotros-2 h2{
        margin-top: 30px;
    }

    .nosotros-container span{
        color: var(--primary-color);
    }

    footer .footer-container div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer .footer-container .logo-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer .footer-container .logo-box img{
        width: 100%;
    }

}